header {
  display: flex;
  justify-content: space-between;
  grid-area: h;
  background-color: black;
  outline: 2px solid black;
}

.logo {
  width: 150px;
  height: 30px;
  margin: 10px;
}

.login p {
  color: white;
}
