.nav {
  display: flex;
  flex-direction: column;
  grid-area: n;
  background-color: #1d1d1d;
}

.item {
  justify-content: flex-end;
}

.item a,
.item {
  margin: 10px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: 600;
}

.item .active {
  color: #ffc400;
}
