.nav {
  display: flex;
  flex-direction: column;
  grid-area: n;
  background-color: yellow;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  font-weight: 600;
}

.item {
  margin: 10px;
}

.active {
  color: red !important;
}
