.messanger {
  display: grid;
  grid-template-columns: 10fr 3fr;
  outline: 2px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bgDialogs.jpg");
}

p {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

.dialogs {
  padding: 20px;
  background-color: black;
  border: 2px solid black;
}

.dialogsItem,
.dialogsItemActive {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: yellow;
  border-radius: 20px;
}

.dialogsItemActive {
  background-color: #ffffff !important;
  outline: 5px solid yellow;
  font-weight: 700;
}

.messages {
  padding: 20px;
}

.messageItem {
  margin: 20px;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  word-wrap: break-word;
}

.button {
  background-color: #4caf50;
  height: 40px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(21, 255, 0, 0.623),
    0 17px 50px 0 rgb(214, 211, 0);
  background-color: yellowgreen;
}

textarea {
  outline: none;
  -moz-appearance: none;
  border: 1px solid #999;
  resize: none;
  width: 70%;
  height: 40px;
  border-radius: 30px;
  padding: 10px;
}

.addPost {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 20px;
  border-radius: 50px;
  padding: 10px;
}
